// Fonts
@import url('https://fonts.bunny.net/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import 'bootstrap/scss/bootstrap';

.botonCrear{
    margin: 10px 0px 0px;
}

.botonAgregar{
    margin: 10px 25px;
}

.grupoListado{
    margin: 10px;
}

.navegadorLinks{
    margin: 5px 10px;
}

.formSelectCategoria{
    margin: 5px 0px;
}

.descripcion-producto{
    text-decoration: none;
}

.btn{
    margin: 20px;
}